<div class="header">The CASI Project</div>
<div class="page-container">
	<div class="cloud-image">
		<img alt="" src="static/css/images/smart_girl.png">
	</div>
	<div class="welcome-text">Welcome</div>
	<div class="home-menu-list">
		<ul>
			<li>Select Survey</li>
			<li>View History</li>
			<li>Clear Data</li>
		</ul>
	</div>
	<div class="poweredby">
		<img alt="" src="static/css/images/poweredby.png"/>
		<img alt="" src="static/css/images/poweredby.png"/>
		<img alt="" src="static/css/images/poweredby.png"/>
	</div>
</div>

<script>
$(function(){
	
	if(navigator.onLine) {
		showLoadingDialog();
		request.downloadSurvey();
	}
	$(".home-menu-list ul li:first").click(function(){
		$("#content").load("static/view/surveyList.html");
	});
	$(".home-menu-list ul li:first").next().click(function(){
		$("#content").load("static/view/viewSurveys.html");
	});
	$(".home-menu-list ul li:first").next().next().click(function(){
		showConfirmDialog("Are you sure you want to clear data?",function(){
			enablepage();
			participantAnswerDao.clear();
			questionTypeDao.clear();
			answerDao.clear();
			questionDao.clear();
			sectionDao.clear();
			surveyDao.clear();
			provinceDao.clear();
			languageDao.clear();
		},enablepage,240,137);
	});
});
</script>