<div class="header">The CASI Project</div>
<div class="page-container">
	<div class="cloud-image">
		<img alt="" src="static/css/images/smart_girl.png">
	</div>
	<div class="welcome-text">Welcome</div>
	<div class="home-menu-list">
		<ul>
			<li id="select_survey">Select Survey</li>
			<li id="view_history">View History</li>
			<li id="view_backup_data">View Backup Data</li>
			<li id="clear_data">Clear Data</li>
		</ul>
	</div>
	<div class="poweredby">
		<img alt="" src="static/css/images/poweredby.png"/>
		<img alt="" src="static/css/images/poweredby.png"/>
		<img alt="" src="static/css/images/poweredby.png"/>
	</div>
</div>

<script>
$(function(){
	
	if(navigator.onLine) {
		surveyDao.getAll(function(surveys) {
			if(surveys.length == 0) {
				showLoadingDialog();
				request.downloadSurvey();
			}
		});
	}
	else if(debug) {
		showLoadingDialog();
		request.downloadSurvey();
	}
	$("ul #select_survey").click(function(){
		$("#content").load("static/view/surveyList.html");
	});
	$("ul #view_history").click(function(){
		$("#content").load("static/view/viewSurveys.html");
	});
	$("ul #view_backup_data").click(function(){
		$("#content").load("static/view/viewBackupData.html");
	});
	
	$("#clear_data").click(function(){
		showConfirmDialog("Are you sure you want to clear data?",function(){
			participantAnswerDao.clear();
			questionTypeDao.clear();
			answerDao.clear();
			questionDao.clear();
			sectionDao.clear();
			surveyDao.clear();
			provinceDao.clear();
			languageDao.clear();
			answerTypeDao.clear();
			mobileDao.clear();
			outcomeEvaluationDao.clear();
			participantLogDao.clear();
			participantSurveyDao.clear();
			synLogDao.clear();
			enablepage();	
		},enablepage,240,137);
	});
	//request.uploadSurvey();
});
</script>