<div class="home-navigation">
	<span class="back" id="backToSurveyList">Back</span>
	<span class="title">Survey Title</span>
</div>
<div class="page-container">
	<div class="interviewer-participant-identifier">
		<div>Start at: <span id="startDateTime"></span></div>
		<div><input id="interviewerId" type="text" placeholder="Enter Interviewer ID"></div>
		<div><input id="participantId" type="text" placeholder="Enter Study ID"></div>
		<div><input id="placeOfInterview" type="text" placeholder="Enter Place of Interview"></div>
		<div>
			<select id="province">
				<option value="-1">Select Province</option>
			</select>
		</div>
		<div>
			<select id="evaluationOutcome">
				<option value="-1">Select Evaluation Outcome</option>
			</select>
		</div>
		<div>
			<select id="language">
				<option value="-1">Select Language</option>
			</select>
		</div>
		<div class="button" id="begin">Begin</div>
	</div>
</div>
<script>
	var partic;
	$(function(){
		var surv = $("#selectedSurvey").data("selectedSurvey");
		$(".title").text(surv.description);
		delete surv;
		participantSurveyDao.getAll(function(participants){
			partic = participants;
		});
		var dateTimeConvertor = new DateTimeConvertor();
		languageDao.getAll(function(l){
			for(var i =0; i < l.length; i++){
				$("#language").append("<option value='"+l[i].getLanguageId()+"'>"+l[i].getLanguageName()+"</option>");
			}
		});
		provinceDao.getAll(function(p){
			for(var i = 0; i < p.length; i++) {
				$("#province").append("<option value='"+p[i].getProvinceId()+"'>"+p[i].getProvinceName()+"</option>");
			}
		});
		evaluationOutcomeDao.getAll(function(e){
			for(var i = 0; i < e.length; i++) {
				$("#evaluationOutcome").append("<option value='"+e[i].getOutcomeEvaluationId()+"'>"+e[i].getDescription1()+"</option>");
			}
		});
		$("#begin").click(function(){
			$("body").data("language", $("#language option:selected").val());
			var validationData = validateField(); 
			if(!validationData.status) {
				alert(validationData.message);
				return false;
			}
			//save participant survey + log
			if(!isParticipantExist($("#participantId").val(), $("#evaluationOutcome option:selected").val())) {
				var participantSurvey = new ParticipantSurvey();
				participantSurvey.setSurveyId($("#selectedSurvey").data("selectedSurvey").surveyId);
				participantSurvey.setSurveyDate(dateTimeConvertor.getCurrentDate());
				participantSurvey.setInterviewCode($("#interviewerId").val());
				participantSurvey.setParticipantCode($("#participantId").val());
				participantSurvey.setPlaceOfInterview($("#placeOfInterview").val());
				var provinceId = $("#province option:selected").val();
				var outComeEval = $("#evaluationOutcome option:selected").val();
				var langId = $("#language option:selected").val();
				if(provinceId != -1) {
					participantSurvey.setProvinceId(provinceId);
				}
				if(outComeEval != -1) {
					participantSurvey.setOutComeEvaluationId(outComeEval);
				}
				if(langId != -1) {
					participantSurvey.setLanguageId(langId);
				}
				participantSurvey.setStartDateTime(dateTimeConvertor.getCurrentDate());
				participantSurvey.setEndDateTime("");
				participantSurvey.setStatus(0);
				participantSurveyDao.persist(participantSurvey, function(index) {
					participantSurvey.setParticipantSurveyId(index);
					$("#participant").data("participant", participantSurvey);
					var participantLog = new ParticipantLog();
					participantLog.setParticipantSurveyId(participantSurvey.getParticipantSurveyId());
					participantLog.setParticipantCode($("#interviewerId").val());
					participantLog.setStartDateTime(dateTimeConvertor.getCurrentDate());
					participantLog.setEndDateTime("");
					participantLog.setLastQuestion("");
					participantLogDao.persist(participantLog, function(i) {
						participantLog.setParticipantLogId(i)
						$("#participantLog").data("participantLog", participantLog);
					});
				});
				
			}
			
			//participantLogDao.persist();
			$("#content").load("static/view/section.html");
		});
		$("#backToSurveyList").click(function(){
			$("#content").load("static/view/surveyList.html");
		});
		$("#startDateTime").text(dateTimeConvertor.getCurrentUSDate() + " " + dateTimeConvertor.getCurrentTime());
	});
	
	function isParticipantExist(participantCode, evaluationOutcome) {
		if(typeof partic === 'undefined') {
			return false;
		}
		for(var i = 0; i < partic.length; i++) {
			var p = partic[i];
			if(p.getParticipantCode() == participantCode &&  p.getOutComeEvaluationId() == evaluationOutcome) {
				$("#participant").data("participant", p);
				participantLogDao.getByParticipantCode(function(participantLog) {
					$("#participantLog").data("participantLog", participantLog);
				});
				return true;
			}
		}
		return false;
	}
	
	function validateField() {
		var returnMessage = {status: false,message: "Please fill in all informations!"};
		if ($("#interviewerId").val() == "" 
			|| $("#participantId").val() =="" 
			|| $("#placeOfInterview").val() == ""
			|| $("#province option:selected").val() == -1
			|| $("#evaluationOutcome options:selected").val() == -1
			|| $("#language option:selected").val() == -1){
			returnMessage.status = false;
			return returnMessage;
		}
		else if($("#interviewerId").val().length < 2){
			returnMessage.status = false;
			returnMessage.message = "Incorrect interviewer id";
			return returnMessage;
		}
		else if($("#participantId").val().length < 6){
			returnMessage.status = false;
			returnMessage.message = "Incorrect study id";
			return returnMessage;
		}
		
		return {status: true};
	}
</script>