<div class="section">
	<div class="space"></div>
	<div id="introductionScroller">
		<div id="introductionScrollable">
			<span id="description"></span>
		</div>
	</div>
</div>
<div class="footer">
	<div class="question-navigation">
		<!-- <span class="move-question-previous" id="previousQuestion">&lt;&lt;</span> -->
		<span class="move-question-next" id="nextQuestion"></span>
	</div>
</div>
<script type="text/javascript">
	$(function(){
		var selectedSurvey = $("#selectedSurvey").data("selectedSurvey");
		$(".section").css("min-height", $(window).height() - $(".footer").height());
		$("#description").text(selectedSurvey.introduction1);
		var lang = $("body").data("language");
		if(lang == 2) {
			$("#description").text(selectedSurvey.introduction2);
		}
		$("#nextQuestion").click(function(){
			$("#content").load("static/view/section.html");
		});
		setScroller();
	});
	function setScroller() {
		var availableH = ($(window).height() - $(".footer").outerHeight() - 15);
		$("#introductionScroller").css("height", availableH + "px");
		console.log(introductionScroller);
		//if(introductionScroller == null) {
			introductionScroller = new iScroll("introductionScroller", {useTransition:true});
		/* }
		else {
			introductionScroller.refresh();
		} */
	}
</script>