<div class="header">The CASI Project</div>
<div class="page-container">
	<div class="cloud-image">
		<img alt="" src="static/css/images/smart_girl.png">
	</div>
	<div class="welcome-text">Welcome</div>
	<div class="interviewer-identifier">
		<span>Enter Your Password</span>
		<div><input id="interviewerPassword" type="password"></div>
		<div class="button" id="begin">Begin</div>
	</div>
</div>
<script type="text/javascript">
	$("#begin").click(function(){
		var interviewerPassword = $("#interviewerPassword").val();
		var pwd = "e10adc3949ba59abbe56e057f20f883e";
		if(md5(interviewerPassword) != pwd) {
			alert("Password incorrect !!!");
		}
		else {
			$("#content").load("static/view/home.html");
		}
	});
</script>