<div class="footer">
	<div class="question-navigation">
		<!-- <span class="move-question-previous" id="firstQuestion">&lt;&lt;</span>  -->
		<span class="move-question-previous" id="previousQuestion">&lt;&lt;</span>
		<span class="move-question-next" id="nextQuestion">&gt;&gt;</span>
		<!-- <span class="move-question-next" id="lastQuestion">&gt;&gt;</span> -->
	</div>
	<!-- 
	<div class="progress-block">
		<div class="progress-label">Progress...</div>
		<div class="progress-bar"><span class="progress"></span></div>
	</div>
	 -->
</div>

<!-- jquery template for questionnaire -->

<!-- single answer template -->
<script id="singleTemplate" type="x-jquery-tmpl">
	<div class="answer">
		<img src="static/css/images/radio-off.png">
		<input type="radio" name="signAnswer"><label>${text}</label>
	</div>
</script>

<!-- number answer template -->
<script id="numberTemplate" type="x-jquery-tmpl">
	<div class="answer"><input type="number" name="answer"/>${text}</div>
</script>

<!-- text answer template -->
<script id="textTemplate" type="x-jquery-tmpl">
	<div class="answer"><input type="text" name="answer"/>${text}</div>
</script>

<!-- multiple answer template -->
<script id="multipleTemplate" type="x-jquery-tmpl">
  <div class="answer">
	<img src="static/css/images/check-off.png">
	<input type="checkbox" /><label>${text}</label>
  </div>
</script>

<!-- question template -->
<script id="questionTemplate" type="x-jquery-tmpl">
<div class="question-header">
	<span class="question-code">${questionCode}</span>
	<span class="suspend-survey">[-]</span>
</div>
<div id="scrollWrapper" class="questionaire-page">
	<div class="scrollable" id="scrollable" style="padding-bottom:10px;">
  		<div class="question-block">
			<div class="question">${questionCode}. ${text}</div>
			<div class="answer-block"></div>
  		</div>
	</div>
</div>
</script>

<!-- parent of group question template -->
<script id="parentGroupQuestionTemplate" type="x-jquery-tmpl">
<div class="question-header">
	<span class="question-code">${questionCode}</span>
	<span class="suspend-survey">[-]</span>
</div>
<div id="scrollWrapper" class="questionaire-page">
	<div class="scrollable" id="scrollable" style="padding-bottom:10px;">
  		<div class="question-block">
			<div class="question">${questionCode}. ${text}</div>
  		</div>
	</div>
</div>
</script>

<!-- group question row template -->
<script id="groupQuestionTemplate" type="x-jquery-tmpl">
	<div class="child-question">
		<div class="group-question-row">${questionCode}. ${text}</div>
		<div class="answer-block group-question-answers"></div>
	</div>
</script>

<script>
var qIndex = 0,
	totalQ,
	sectionId,
	progress;

function getQuestion() {
	var questionaire = $("body").data("questionaire");
	totalQ = questionaire.length;
	console.log(totalQ);
	if(Number(qIndex)+1 <= totalQ) {
		$(".pagination-label").text(Number(qIndex)+1 +"/"+totalQ);
		var question = questionaire[qIndex];
		sectionId = question.getSectionId();
		var qOption = question.options;
		qOption.text = question.getDescription1();
		if($("body").data("language") === 'KH') {
			qOption.text = question.getDescription2();
		}
		if(qOption.questionTypeId == 6) {
			getGroupQuesion(qOption);
		}
		else {
			var questionAdapter = new QuestionAdapter(qOption);
			questionAdapter.mergeTemplate();
			var answers = answerDao.getByQuestion(question.getQuestionId(), function(answers){
				var answerAdapter = new AnswerAdapter({questionType: question.getQuestionTypeId()}, answers, $("body").data("language"));
				answerAdapter.mergeTemplate();
			});
		}
	}
	setTimeout(function(){
		$("#scrollWrapper").css("height", ($(window).height() - $(".footer").outerHeight() - $(".question-header").height() - 15) + "px"); //10px maybe the margin or padding top
		if(typeof scroller !== 'undefined' && scroller != null) {
			scroller.destroy();
			scroller = new iScroll("scrollWrapper");
		}
	}, 100);
}

function getGroupQuesion(qOption) {
	var lang = $("body").data("language");
	var groupQuestionAdapter = new GroupQuestionAdapter();
	var groupQuestion = new Object();
	groupQuestion.parentQuestionCode = qOption.questionCode;
	groupQuestion.label = qOption.text;
	
	groupQuestionAdapter.mergeGroupQuestionParent(groupQuestion); // merge parent question info 
	
	questionDao.getChild(qOption.questionId, function(questions) {
		for(var i = 0;i < questions.length;i++){
			var question = questions[i];
			var lsAnswers;
			question.text = question.getDescription1();
			if( lang === 'KH') {
				question.text = question.getDescription2();
			}
			//groupQuestionAdapter.mergeChildQuestionTemplate(question);
			
			$.when(answerDao.getByQuestion(question.getQuestionId(), function(answers){
				lsAnswers = answers;
			}))                
            .done(function () {
            	groupQuestionAdapter.mergeChildQuestionTemplate(question);
            	groupQuestionAdapter.mergeChildQuestionAnswerTemplate(question.getQuestionTypeId(),lsAnswers,lang);
            });
    		/*
			answerDao.getByQuestion(question.getQuestionId(), function(answers){
				groupQuestionAdapter.mergeChildQuestionAnswerTemplate(question.getQuestionTypeId(),answers,lang);
			});*/
		}
	});
	
}
$(function(){
	console.log("called......");
	$("input[type='checkbox']").checkbox("add",{imageOn: "static/css/images/check-on.png",imageOff: "static/css/images/check-off.png"})
	
	$("input[type='radio']").radio("add",{imageOn: "static/css/images/radio-on.png",imageOff: "static/css/images/radio-off.png"});
	
	getQuestion();
	if(sectionDisplayed == 0) {
		$("#previousQuestion").hide();
	}
	$("#homePage").click(function(){
		$("#content").load("static/view/home.html");
	});
	$("#nextQuestion").click(function(){
		if(qIndex == totalQ) {
			return;
		}
		qIndex = qIndex + 1;
		if(qIndex < totalQ) {
			$(".question-header").remove();
			$("#previousQuestion").show();
			$(".question-code").remove();
			$(".question-block").remove();
			$("#scrollWrapper").remove();
			getQuestion();
		}
		else {
			//check the survey displayed. 
			//if all the survey already displayed meant they are at the end so, show dialog. Otherwise, load next section
			//sectionDisplayed started from 0
			if(sectionDisplayed < $("body").data("sections").length -1) {
				$("#content").load("static/view/section.html");
			}
			else {
				//total score and show dialog
				showDailog();
			}
		}
		var progress = (qIndex * 100)/totalQ;
		$(".progress").css({"width": progress + "%"});
	});
	
	$("#previousQuestion").click(function(){
		if(sectionDisplayed > 0 && qIndex == 0) {
			sectionDisplayed--;
			var sections = $("body").data("sections");
			var section = sections[sectionDisplayed];
			questionDao.getBySection(section.getSectionId(), function(questions){
				$("body").data("questionaire", questions);
				$(".question-header").remove();
				$(".question-code").remove();
				$(".question-block").remove();
				$("#scrollWrapper").remove();
				qIndex = questions.length -1;
				getQuestion();
			});
		}
		else {
			$(".question-header").remove();
			$(".question-code").remove();
			$(".question-block").remove();
			$("#scrollWrapper").remove();
			qIndex--;
			getQuestion();
			if(qIndex == 0 && sectionDisplayed == 0) {
				$(this).hide();
			}
		}
	});
	setTimeout(function() {
		$("#scrollWrapper").css("height", ($(window).height() - $(".footer").outerHeight() - $(".question-header").height() - 15) + "px");
		scroller = new iScroll("scrollWrapper");
	}, 100);
});

function showDailog(){
	buildPopUpPage(240,110);
	var actionBlock = $("<div class='dialog-action'></div>");
	actionBlock.append($('<button></button>').text("Yes").addClass("dialog-button").click(function(){enablepage();$("#content").load("static/view/home.html");}));
	actionBlock.append($('<button></button>').text("No").addClass("dialog-button").click(enablepage));
	$("#popup").append($("<div class='dialog-title'></div>").text("Confirm"));
	$("#popup").append($("<div class='dialog-message'></div>").text("Are you satify with your answer?"));
	$("#popup").append(actionBlock);
}
</script>