<div class="footer">
	<div class="question-navigation">
		<!-- <span class="move-question-previous" id="firstQuestion">&lt;&lt;</span>  -->
		<span class="move-question-previous" id="previousQuestion">&lt;&lt;</span>
		<span class="move-question-next" id="nextQuestion">&gt;&gt;</span>
		<!-- <span class="move-question-next" id="lastQuestion">&gt;&gt;</span> -->
	</div>
	<!-- 
	<div class="progress-block">
		<div class="progress-label">Progress...</div>
		<div class="progress-bar"><span class="progress"></span></div>
	</div>
	 -->
</div>

<!-- jquery template for questionnaire -->

<!-- single answer template -->
<script id="singleTemplate" type="x-jquery-tmpl">
	<div class="answer">
		<img src="static/css/images/radio-off.png">
		<input svalue="${value}" value=${text} type="radio" name="${questionId}" id="a${answerId}"><label for="a${answerId}">${text}</label>
	</div>
</script>

<!-- number answer template -->
<script id="numberTemplate" type="x-jquery-tmpl">
	<div class="answer"><input type="number" name="answer" value="${value}"/>${text}</div>
</script>

<!-- text answer template -->
<script id="textTemplate" type="x-jquery-tmpl">
	<div class="answer"><input type="text" name="answer" value="${value}"/>${text}</div>
</script>

<!-- multiple answer template -->
<script id="multipleTemplate" type="x-jquery-tmpl">
  <div class="answer">
	<img src="static/css/images/check-off.png">
	<input svalue="${value}" type="checkbox" id="a${answerId}"/><label for="a${answerId}">${text}</label>
  </div>
</script>

<!-- question template -->
<script id="questionTemplate" type="x-jquery-tmpl">
<div class="question-header">
	<span class="question-code">${displaySectionName}</span>
	<span class="suspend-survey" onclick="suspend();"></span>
</div>
<div id="scrollWrapper" class="questionaire-page">
	<div class="scrollable" id="scrollable">
  		<div class="question-block">
			<div class="question">${parentQuestion}</div>
			<div class="question" id="${questionId}" qtype="${questionTypeId}" allowNull="${allowNull}" qcode="${questionCode}">${questionCode}. ${text}</div>
			<div class="answer-block"></div>
  		</div>
	</div>
</div>
</script>

<!-- parent of group question template -->
<script id="parentGroupQuestionTemplate" type="x-jquery-tmpl">
<div class="question-header">
	<span class="question-code">${displaySectionName}</span>
	<span class="suspend-survey" onclick="suspend();"></span>
</div>
<div id="scrollWrapper" class="questionaire-page">
	<div class="scrollable" id="scrollable">
  		<div class="question-block">
			<div class="question" qcode="${questionCode}">${questionCode}. ${text}</div>
  		</div>
	</div>
</div>
</script>

<!-- group question row template -->
<script id="groupQuestionTemplate" type="x-jquery-tmpl">
	<div class="child-question">
		<div class="group-question-row" id="${questionId}" qtype="${questionTypeId}" allowNull="${allowNull}" qcode="${qcode}">
			${questionCode}. ${text}
		</div>
		<div class="answer-block group-question-answers"></div>
	</div>
</script>

<script type="text/javascript" src="static/js/questionaireNavigationHelper.js"></script>
