<div class="footer">
	<div class="question-navigation">
		<!-- <span class="move-question-previous" id="firstQuestion">&lt;&lt;</span>  -->
		<span class="move-question-previous" id="previousQuestion">&lt;&lt;</span>
		<span class="move-question-next" id="nextQuestion">&gt;&gt;</span>
		<!-- <span class="move-question-next" id="lastQuestion">&gt;&gt;</span> -->
	</div>
	<!-- 
	<div class="progress-block">
		<div class="progress-label">Progress...</div>
		<div class="progress-bar"><span class="progress"></span></div>
	</div>
	 -->
</div>

<!-- jquery template for questionnaire -->

<!-- single answer template -->
<script id="singleTemplate" type="x-jquery-tmpl">
	<div class="answer">
		<img src="static/css/images/radio-off.png">
		<input svalue="${value}" type="radio" name="signAnswer"><label>${text}</label>
	</div>
</script>

<!-- number answer template -->
<script id="numberTemplate" type="x-jquery-tmpl">
	<div class="answer"><input type="number" name="answer"/>${text}</div>
</script>

<!-- text answer template -->
<script id="textTemplate" type="x-jquery-tmpl">
	<div class="answer"><input type="text" name="answer"/>${text}</div>
</script>

<!-- multiple answer template -->
<script id="multipleTemplate" type="x-jquery-tmpl">
  <div class="answer">
	<img src="static/css/images/check-off.png">
	<input svalue="${value}" type="checkbox" /><label>${text}</label>
  </div>
</script>

<!-- question template -->
<script id="questionTemplate" type="x-jquery-tmpl">
<div class="question-header">
	<span class="question-code">${questionCode}</span>
	<span class="suspend-survey" onclick="suspend();">[-]</span>
</div>
<div id="scrollWrapper" class="questionaire-page">
	<div class="scrollable" id="scrollable" style="padding-bottom:10px;">
  		<div class="question-block">
			<div class="question" id="${questionId}" qtype="${questionTypeId}">${questionCode}. ${text}</div>
			<div class="answer-block"></div>
  		</div>
	</div>
</div>
</script>

<!-- parent of group question template -->
<script id="parentGroupQuestionTemplate" type="x-jquery-tmpl">
<div class="question-header">
	<span class="question-code">${questionCode}</span>
	<span class="suspend-survey" onclick="suspend();">[-]</span>
</div>
<div id="scrollWrapper" class="questionaire-page">
	<div class="scrollable" id="scrollable" style="padding-bottom:10px;">
  		<div class="question-block">
			<div class="question">${questionCode}. ${text}</div>
  		</div>
	</div>
</div>
</script>

<!-- group question row template -->
<script id="groupQuestionTemplate" type="x-jquery-tmpl">
	<div class="child-question">
		<div class="group-question-row" id="${questionId}" qtype="${questionTypeId}">${questionCode}. ${text}</div>
		<div class="answer-block group-question-answers"></div>
	</div>
</script>

<script>
var qIndex = 0,
	totalQ,
	sectionId,
	progress,
	participantAnswerList=[],
	lastQid;

function getQuestion() {
	var questionaire = $("body").data("questionaire");
	totalQ = questionaire.length;
	if(Number(qIndex)+1 <= totalQ) {
		$(".pagination-label").text(Number(qIndex)+1 +"/"+totalQ);
		var question = questionaire[qIndex];
		lastQid = question.getQuestionId();
		sectionId = question.getSectionId();
		var qOption = question.options;
		qOption.text = question.getDescription1();
		if($("body").data("language") == 2) {
			qOption.text = question.getDescription2();
		}
		if(qOption.questionTypeId == 6) {
			getGroupQuesion(qOption);
		}
		else {
			var questionAdapter = new QuestionAdapter(qOption);
			questionAdapter.mergeTemplate();
			var answers = answerDao.getByQuestion(question.getQuestionId(), function(answers){
				var answerAdapter = new AnswerAdapter({questionType: question.getQuestionTypeId()}, answers, $("body").data("language"));
				answerAdapter.mergeTemplate();
			});
		}
	}
	setTimeout(function(){
		$("#scrollWrapper").css("height", ($(window).height() - $(".footer").outerHeight() - $(".question-header").height() - 15) + "px"); //10px maybe the margin or padding top
		if(typeof scroller !== 'undefined' && scroller != null) {
			scroller.destroy();
			scroller = new iScroll("scrollWrapper");
		}
	}, 100);
}

function getGroupQuesion(qOption) {
	var lang = $("body").data("language");
	var groupQuestionAdapter = new GroupQuestionAdapter();
	var groupQuestion = new Object();
	groupQuestion.parentQuestionCode = qOption.questionCode;
	groupQuestion.label = qOption.text;
	
	groupQuestionAdapter.mergeGroupQuestionParent(groupQuestion); // merge parent question info 
	
	questionDao.getChild(qOption.questionId, function(questions) {
		for(var i = 0;i < questions.length;i++){
			var question = questions[i];
			var lsAnswers;
			question.text = question.getDescription1();
			if(lang == 2) {
				question.text = question.getDescription2();
			}
			//groupQuestionAdapter.mergeChildQuestionTemplate(question);
			
			$.when(answerDao.getByQuestion(question.getQuestionId(), function(answers){
				lsAnswers = answers;
			}))                
            .done(function () {
            	groupQuestionAdapter.mergeChildQuestionTemplate(question);
            	groupQuestionAdapter.mergeChildQuestionAnswerTemplate(question.getQuestionTypeId(),lsAnswers,lang);
            });
    		/*
			answerDao.getByQuestion(question.getQuestionId(), function(answers){
				groupQuestionAdapter.mergeChildQuestionAnswerTemplate(question.getQuestionTypeId(),answers,lang);
			});*/
		}
	});
}
function parseValue(child, type, participantA) {
	if(Number(type) == 1 || Number(type) == 2 || Number(type) == 3 || Number(type) == 6) {
		participantA.setDescriptoin(child.find("input").val());
	}
	else if(Number(type) == 4 || Number(type) == 5) {
		switch(Number(type)) {
			case 4: //single question type
				child.find("input['type=radio']:checked").attr("svalue");
				break;
			case 5: //multiple question type
				//how to store the answer id in the participant answer for this???
				child.find("input['type=checkbox']").each(function(i, ch){
					if(ch.is(":checked")) {
						
					}
				});
				break;
			default:
				console.log("unknow answer type");
		}
	}
}
function parseAnswer() {
	var childQuestions = $("#child-question");
	//parent child question
	if(childQuestions.length > 0) {
		childQuestion.each(function(i, child){
			var participantA = new ParticipantAnswer();
			var q = child.find("group-question-row");
			participantA.setQuestionId(q.attr("id"));
			var type = q.attr("qtype");
			parseValue($(this), type, participantA);
			participantAnswerList.push(participantA);
		});
	}
}
$(function(){
	$("input[type='checkbox']").checkbox("add",{imageOn: "static/css/images/check-on.png",imageOff: "static/css/images/check-off.png"})
	
	$("input[type='radio']").radio("add",{imageOn: "static/css/images/radio-on.png",imageOff: "static/css/images/radio-off.png"});
	
	getQuestion();
	if(sectionDisplayed == 0) {
		$("#previousQuestion").hide();
	}
	$("#homePage").click(function(){
		$("#content").load("static/view/home.html");
	});
	$("#nextQuestion").click(function(){
		if(qIndex == totalQ) {
			return;
		}
		qIndex = qIndex + 1;
		if(qIndex < totalQ) {
			parseAnswer();
			$(".question-header").remove();
			$("#previousQuestion").show();
			$(".question-code").remove();
			$(".question-block").remove();
			$("#scrollWrapper").remove();
			getQuestion();
		}
		else {
			//check the survey displayed. 
			//if all the survey already displayed meant they are at the end so, show dialog. Otherwise, load next section
			//sectionDisplayed started from 0
			if(sectionDisplayed < $("body").data("sections").length -1) {
				$("#content").load("static/view/section.html");
			}
			else {
				//total score and show dialog
				showDailog();
			}
		}
		var progress = (qIndex * 100)/totalQ;
		$(".progress").css({"width": progress + "%"});
	});
	
	$("#previousQuestion").click(function(){
		if(sectionDisplayed > 0 && qIndex == 0) {
			sectionDisplayed--;
			var sections = $("body").data("sections");
			var section = sections[sectionDisplayed];
			questionDao.getBySection(section.getSectionId(), function(questions){
				$("body").data("questionaire", questions);
				$(".question-header").remove();
				$(".question-code").remove();
				$(".question-block").remove();
				$("#scrollWrapper").remove();
				qIndex = questions.length -1;
				getQuestion();
			});
		}
		else {
			$(".question-header").remove();
			$(".question-code").remove();
			$(".question-block").remove();
			$("#scrollWrapper").remove();
			qIndex--;
			getQuestion();
			if(qIndex == 0 && sectionDisplayed == 0) {
				$(this).hide();
			}
		}
	});
	
	setTimeout(function() {
		$("#scrollWrapper").css("height", ($(window).height() - $(".footer").outerHeight() - $(".question-header").height() - 15) + "px");
		scroller = new iScroll("scrollWrapper");
	}, 100);
});
function suspend() {
	var pLog = $("#participantLog").data("participantLog");
	pLog.setLastQuestion(lastQid);
	participantLogDao.update(pLog);
	deleteData();
	$("#content").load("static/view/home.html");
}
function deleteData() {
	delete qIndex;
	delete totalQ;
	delete sectionId;
	delete progress;
	delete participantAnswerList;
	delete lastQid;
	sectionDisplayed = Number(-1);
	delete $("body").data("sections");
	delete $("body").data("language");
	delete $("body").data("questionaire");
	delete $("#selectedSurvey").data("selectedSurvey");
	delete $("#participant").data("participant");
	delete $("#participantLog").data("participantLog");
}
function showDailog(){
	buildPopUpPage(240,110);
	var actionBlock = $("<div class='dialog-action'></div>");
	actionBlock.append($('<button></button>').text("Yes").addClass("dialog-button").click(function(){
		enablepage();
		var participantSurvey = $("#participant").data("participant");
		var dateTimeConvertor = new DateTimeConvertor();
		participantSurvey.setEndDateTime(dateTimeConvertor.getCurrentDate());
		participantSurvey.setStatus(1);
		participantSurveyDao.update(participantSurvey);
		var participantSurveyLog = $("#participantLog").data("participantLog");
		participantSurveyLog.setEndDateTime(dateTimeConvertor.getCurrentDate());
		participantLogDao.update(participantSurveyLog);
		deleteData();
		$("#content").load("static/view/home.html");
	}));
	actionBlock.append($('<button></button>').text("No").addClass("dialog-button").click(enablepage));
	$("#popup").append($("<div class='dialog-title'></div>").text("Confirm"));
	$("#popup").append($("<div class='dialog-message'></div>").text("Are you satify with your answer?"));
	$("#popup").append(actionBlock);
	$("#popup").css("background-color", "#385676");
}
</script>