<div class="section">
	<div class="space"></div>
	<div id="sectionScroller">
		<div id="sectionScrollable">
			<span id="sectionCode"></span><br/>
			<span id="description"></span>
		</div>
	</div>
</div>
<div class="footer">
	<div class="question-navigation">
		<span class="move-question-previous" id="previousQuestion"></span>
		<span class="move-question-next" id="nextQuestion"></span>
	</div>
</div>
<script>
	function setScroller() {
		var availableH = ($(window).height() - $(".footer").height());
		$("#sectionScroller").css("height", availableH + "px");
		//if(sectionScroller == null) {
			sectionScroller = new iScroll("sectionScroller", {useTransition:true});
		 //}
		//else {
		//	sectionScroller.refresh();
		//} 
	}
	$(function(){
		var selectedSurvey = $("#selectedSurvey").data("selectedSurvey");
		var lang = $("body").data("language");
		console.log("section index: " + sectionDisplayed);
		if(sectionDisplayed == Number(-1) && ((lang == 2 && selectedSurvey.introduction2 == "null") || (lang == 1 && selectedSurvey.introduction1 == "null"))) {
			$("#previousQuestion").hide();
		}
		else {
			$("#previousQuestion").show();
		}
		var sections = $("body").data("sections");
		sectionDisplayed++;
		var section = sections[sectionDisplayed];
		$("#sectionCode").html("Section " + section.getSectionCode() + ": ");
		$("#description").html(section.getDescription1() + "<br/>" + section.getIntroduction1());
		if(lang == 2) {
			$("#sectionCode").html("ផ្នែក " + section.getSectionCode() + ": ");
			$("#description").html(section.getDescription2() + "<br/>" + section.getIntroduction2());
		}
		setScroller();
		//$(".section").css("height", $(window).height() - $(".footer").height());
		$("#nextQuestion").click(function() {
			questionDao.getBySection(section.getSectionId(), function(questions) {
				if(questions.length > 0) {
					$("body").data("questionaire", {"questions": questions, fromPrevious: false, "sectionId": section.getSectionId(),"displaySectionName": lang == 2 ? section.getDescription2() : section.getDescription1()});
					$("#content").load("static/view/questionaire.html");
				}
				else {
					//sectionDisplayed++;
					$("#content").load("static/view/section.html");
				}
			});
		});
		//load the last question of the last section
		$("#previousQuestion").click(function(){
			sectionDisplayed--;
			if(sectionDisplayed < 0) {
				$("#content").load("static/view/introduction.html");
				return false;
			}
			var sections = $("body").data("sections");
			var section = sections[sectionDisplayed];
			questionDao.getBySection(section.getSectionId(), function(questions) {
				if(questions.length > 0) {
					$("body").data("questionaire", {"questions": questions, fromPrevious: true, "sectionId": section.getSectionId(),"displaySectionName": lang == 2 ? section.getDescription2() : section.getDescription1()});
					$("#content").load("static/view/questionaire.html");
				}
				else {
					sectionDisplayed--;
					$("#content").load("static/view/section.html");
				}
			});
		});
	});
</script>
