<div class="section">
	<div class="space"></div>
	<span id="sectionCode"></span><br/>
	<span id="description"></span>
</div>
<div class="footer">
	<div class="question-navigation">
		<span class="move-question-previous" id="previousQuestion">&lt;&lt;</span>
		<span class="move-question-next" id="nextQuestion">&gt;&gt;</span>
	</div>
</div>
<script>
	$(function(){
		var sections = $("body").data("sections");
		sectionDisplayed++;
		var section = sections[sectionDisplayed];
		console.log($("body").data("sections"));
		console.log(section);
		$("#sectionCode").text("Section " + section.getSectionCode() + ": ");
		$("#description").text(section.getDescription1());
		$(".section").css("height", $(window).height() - $(".footer").height());
		//$(".space").css("height", ($(window).height()/2.7));
		$("#nextQuestion").click(function() {
			questionDao.getBySection(section.getSectionId(), function(questions) {
				$("body").data("questionaire", questions);
				$("#content").load("static/view/questionaire.html");
			});
		});
		//load the last question of the last section
		$("#previousQuestion").click(function(){
			
		});
	});
</script>