<div class="home-navigation">
	<span class="back" id="homePage">Back</span>
	<span class="title">Select Survey</span>
</div>
<div class="page-container">
	<div class="survey-block">
		<div class="home-menu-list">
			<ul id="survey-list"></ul>
		</div>
	</div>
	<div class="button" onclick="refreshSurvey();">Refresh</div>
</div>
<script>
	$(function(){
		$("#homePage").click(function(){
			$("#content").load("static/view/home.html");
		});
		var surveys = surveyDao.getAll();
		setTimeout(function(){
			for(var i = 0; i < surveys.length; i++) {
				$("#survey-list").append("<li onclick='loadQuestion("+surveys[i].getSurveyId()+");'>"+ surveys[i].getDescription1() + " | Last Downloaded: " + surveys[i].getLastDownload()+"</li>");
			}
		}, 500);
	});
	function loadQuestion(surveyId) {
		//var section = sectionDao.getBySurvey(surveyId);
		var questions = questionDao.getBySection(surveyId);
		setTimeout(function() {
			$("body").data("questionaire", questions);
			$("#content").load("static/view/interviewerParticipantIdentifier.html");
		}, 500);
	}
	function refreshSurvey() {
		request.downloadSurvey();
		setTimeout(function(){
			var surveys = surveyDao.getAll();
			setTimeout(function(){
				console.log(surveys.length);
				for(var i = 0; i < surveys.length; i++) {
					$("#survey-list").append("<li onclick='loadQuestion("+surveys[i].getSurveyId()+");'>"+ surveys[i].getDescription1() + " | Last Downloaded: " + surveys[i].getLastDownload()+"</li>");
				}
			}, 500);
		}, 5000);
	}
</script>
