<div class="home-navigation">
	<span class="back" id="homePage">Back</span>
	<span class="title">Select Survey</span>
</div>
<div class="page-container">
	<div class="survey-block">
		<div class="home-menu-list">
			<ul id="survey-list"></ul>
		</div>
	</div>
	<div class="button" onclick="refreshSurvey();">Refresh</div>
</div>
<script>
	$(function(){
		$("#homePage").click(function(){
			$("#content").load("static/view/home.html");
		});
		surveyDao.getAll(function(surveys) {
			for(var i = 0; i < surveys.length; i++) {
				$("#survey-list").append("<li onclick='loadSection("+surveys[i].getSurveyId()+", \""+ surveys[i].getDescription1()+"\");'>"+ surveys[i].getDescription1() + " | Last Downloaded: " + surveys[i].getLastDownload()+"</li>");
			}
		});
	});
	function loadSection(surveyId, description1) {
		sectionDao.getBySurvey(surveyId, function(sections) {
			//questionDao.getBySection(surveyId, function(questions) {
				$("body").data("sections", sections);
			//});
		});
		$("#selectedSurvey").data("selectedSurvey", {"surveyId": surveyId, "description": description1});
		$("#content").load("static/view/interviewerParticipantIdentifier.html");
	}
	function refreshSurvey() {
		$("#survey-list").empty();
		showLoadingDialog();
		request.downloadSurvey();
			setTimeout(function(){
				surveyDao.getAll(function(surveys){
					for(var i = 0; i < surveys.length; i++) {
						$("#survey-list").append("<li onclick='loadSection("+surveys[i].getSurveyId()+", \""+ surveys[i].getDescription1()+"\");'>"+ surveys[i].getDescription1() + " | Last Downloaded: " + surveys[i].getLastDownload()+"</li>");
					}
				});
			}, 8000);
	}
</script>
