<div class="home-navigation">
	<span class="back-top" id="homePage">Back</span>
	<span class="title">Select Survey</span>
</div>
<div class="page-container">
	<div class="survey-block">
		<div class="home-menu-list">
			<ul id="survey-list"></ul>
		</div>
	</div>
	<div class="button" onclick="refreshSurvey();">Refresh</div>
</div>
<script>
	var convertor = new DateTimeConvertor();
	$(function(){
		$("#homePage").click(function(){
			$("#content").load("static/view/home.html");
		});
		surveyDao.getAll(function(surveys) {
			for(var i = 0; i < surveys.length; i++) {
				$("#survey-list").append("<li onclick='loadSection("+surveys[i].getSurveyId()+", \""+ surveys[i].getDescription1()+"\", \""+ surveys[i].getIntroduction1()+"\", \""+ surveys[i].getIntroduction2()+"\");'>"+ surveys[i].getDescription1() + " | " + convertor.getDateFromMilli(surveys[i].getLastDownload())+"</li>");
			}
		});
	});
	function loadSection(surveyId, description1, introduction1, introduction2) {
		if(isDownloadDataComplete()){
			alert("Downloaded data is not complete, application will not run properly.");
			return;
		}
		sectionDao.getBySurvey(surveyId, function(sections) {
			//questionDao.getBySection(surveyId, function(questions) {
				$("body").data("sections", sections);
			//});
		});
		$("#selectedSurvey").data("selectedSurvey", {"surveyId": surveyId, "description": description1, "introduction1": introduction1, "introduction2" : introduction2});
		$("#content").load("static/view/interviewerParticipantIdentifier.html");
	}
	function refreshSurvey() {
		if(navigator.onLine) {
			$("#survey-list").empty();
			showLoadingDialog();
			surveyDao.selectLastItem(function(item){
				var lastDownload;
				if(item.getLastDownload() != undefined) {
					lastDownload = item.getLastDownload();
				}
				request.downloadSurvey(lastDownload);
					setTimeout(function(){
						surveyDao.getAll(function(surveys){
							for(var i = 0; i < surveys.length; i++) {
								$("#survey-list").append("<li onclick='loadSection("+surveys[i].getSurveyId()+", \""+ surveys[i].getDescription1()+"\");'>"+ surveys[i].getDescription1() + " | " + convertor.getDateFromMilli(surveys[i].getLastDownload())+"</li>");
							}
						});
					}, 8000);
			})
		}
		else {
			alert("Your device is currently offline.");
		}
	}
	
	function isDownloadDataComplete(){
		var downloadStatus = localStorage.getItem("isDownloadDataComplete");
		if(null != downloadStatus && downloadStatus == true){
			return true;
		}
		return false;
	}
</script>
