<div class="home-navigation">
	<span class="back">Back</span>
	<span class="title">View History</span>
</div>
<div class="home">
	<div class="survey-block">
		<div class="survey-title"></div>
		<div class="home-menu-list">
			<ul id="participant-list">
				
			</ul>
		</div>
	</div>
</div>

<script>
$(".back").click(function(){
	$("#content").load("static/view/viewSurveys.html");
})
$(function() {
	var participantSurveys = $("body").data("participantSurveys");
	$.map(participantSurveys,function(participantSurvey){
		$("#participant-list").append($("<li></li>").text(participantSurvey.getInterviewCode() + 
				" | " + participantSurvey.getParticipantCode() + " | " + participantSurvey.getStartDateTime()).append($("<span class='survey-status'></span>").text(participantSurvey.getStatus()  == 0 ? "incomplete": "complete")));
	})
})
</script>