<div class="home-navigation">
	<span class="back">Back</span>
	<span class="title">View History</span>
</div>
<div class="home">
	<div class="survey-block">
		<div class="home-menu-list">
			<ul id="survey-list"></ul>
		</div>
	</div>
</div>

<!-- survey history template -->
<script id="surveyHistoryListTemplate" type="x-jquery-tmpl">
	<li>${description} <span class='survey-status'> ${notSynchronized} ppl | ${readySynchronized} sync</span></li>
</script>

<script>
$(function(){
	surveyDao.getAll(function(surveys) {
		$.each(surveys,function(index,survey){
			var surveyId = survey.getSurveyId();
			var syncState = {
				readySynchronized: 0
			}; 
			synLogDao.countSyncBySurvey(surveyId, function(count){
				syncState.readySynchronized = count;
				participantSurveyDao.countParticipantBySurveyKey(surveyId, function(status){
					syncState.clickEvent = onclick;
					syncState.description = survey.getDescription1();
					syncState.notSynchronized = status.notSync;
					var li = $("#surveyHistoryListTemplate").tmpl(syncState);
					li.bind("click",function(){
						loadHistoryDetail(surveyId,survey.getDescription1());
					});
					$("#survey-list").append(li);
				});
			});
		});
	});
	
	$(".back").click(function(){
		$("#content").load("static/view/home.html");
	});
});
function loadHistoryDetail(surveyId,description1) {
	sectionDao.getBySurvey(surveyId, function(sections) {
			$("body").data("sections", sections);
	});
	participantSurveyDao.getBySurvey(surveyId, function(participants) {
		$("body").data("participantSurveys", participants);
		$("#selectedSurvey").data("selectedSurvey", {"surveyId": surveyId, "description": description1});
		$("#content").load("static/view/viewHistoryDetail.html");
	});
}
</script>