<div class="home-navigation">
	<span class="back">Back</span>
	<span class="title">View History</span>
</div>
<div class="home">
	<div class="survey-block">
		<div class="home-menu-list">
			<ul id="survey-list"></ul>
		</div>
	</div>
</div>

<script>
$(function(){
	surveyDao.getAll(function(surveys) {
		$.each(surveys,function(index,survey){
			var surveyId = survey.getSurveyId();
			participantSurveyDao.countParticipantBySurveyKey(surveyId, function(recordLength){
				var onclick = "loadHistoryDetail("+surveyId+");";
				$("#survey-list").append("<li onclick='"+onclick+"'>"+ survey.getDescription1()+"<span class='survey-status'>" + recordLength + " ppl</span></li>");
			});
		});
	});
	
	$(".back").click(function(){
		$("#content").load("static/view/home.html");
	});
});
function loadHistoryDetail(surveyId) {
	participantSurveyDao.getBySurvey(surveyId, function(participants) {
		$("body").data("participantSurveys", participants);
		$("#content").load("static/view/viewHistoryDetail.html");
	});
}
</script>