<div class="home-navigation">
	<span class="back">Back</span>
	<span class="title">View History</span>
	<span class="sync" id="sync"></span>
</div>
<div class="home">
	<div class="survey-block">
		<div class="survey-title"></div>
		<div class="home-menu-list">
			<ul id="participant-list">
				
			</ul>
		</div>
	</div>
</div>

<!-- survey history template -->
<script id="groupListHistoryDetailTemplate" type="x-jquery-tmpl">
	<div>
		<div class="date-label">${date}</div>
		<ul id="participant_list_${date}"></ul>
	</div>
</script>

<!-- survey history template -->
<script id="listHistoryDetailTemplate" type="x-jquery-tmpl">
	<li>${interviewCode} | ${participantCode} | ${time} <span class='survey-status ${statusClass}'>${status}</span></li>
</script>

<script>
dateConvertor = new DateTimeConvertor();
$(".back").click(function(){
	$("#content").load("static/view/viewSurveys.html");
})
$(function() {
	var participantSurveys = $("body").data("participantSurveys");
	var existingDate = [];
	$.map(participantSurveys,function(participantSurvey){
		if(participantSurvey.getStatus() === 2){
			return;
		}
		var startedDateTime = participantSurvey.getStartDateTime().split(/\s/);
		// pulupate group
		if(existingDate.indexOf(startedDateTime[0]) < 0){
			$(".home-menu-list").append($("#groupListHistoryDetailTemplate").tmpl({date: startedDateTime[0]}));
			existingDate.push(startedDateTime[0]);
		}
		
		var li = $("#listHistoryDetailTemplate").tmpl({
						interviewCode: participantSurvey.getInterviewCode(),
						participantCode: participantSurvey.getParticipantCode(),
						time: getTime(startedDateTime[1]),
						status: participantSurvey.getStatus()  == 0 ? "Incomplete": "Complete",
						statusClass: participantSurvey.getStatus()  == 0 ? "incomplete": ""
						});
		
		participantLogDao.findParticipantLogByParticipantSurvey(participantSurvey.getParticipantSurveyId(),function(participantLog){
			var embededData = {
								lastQuestionId: participantLog.getLastQuestion(),
								lastSectionId: participantLog.getLastSectionId(),
								lastSectionIndex: participantLog.getLastSectionIndex(),
								lastQuestionIndex: participantLog.getLastQuestionIndex(),
								participantLog: participantLog,
								participant: participantSurvey
							  }
			li.data("continueSurvey",embededData);
		});
		
		li.bind("click",function(){
			continueSurvey($(this));
		});
		
		$("#participant_list_" + startedDateTime[0]).append(li);
	});
	
	$("#sync").click(function(){
		if(navigator.onLine) {
			sychronizeData(participantSurveys);
		}
		else {
			alert("No Internet connection.");
		}
			
	});
});

function sychronizeData(pSurveys) {
	var participantsurvey = [];
	var participantanswer = [];
	var participantlog = [];
	var sIds=[];
	var requestData = new Object();
	$.each(pSurveys, function(i, p){
		var pars = {
       		"ParticipantSurveyID": p.getParticipantSurveyId(),
             "SurveyID": p.getSurveyId(),
             "SurveyDate": p.getSurveyDate(),
             "InterviewerCode": p.getInterviewCode(),
             "ParticipantCode": p.getParticipantCode(),
             "PlaceOfInterview": p.getPlaceOfInterview(),
             "ProvinceID": p.getProvinceId(),
             "OutcomeEvaluationID": p.getOutComeEvaluationId(),
             "LanguageID": p.getLanguageId(),
             "AddedDate": p.getStartDateTime(),
             "EndDateTime": p.getEndDateTime(),
             //"AddedDate": dateConvertor.getCurrentDate(),
             "AddedBy": "Mobile_Web",
             "Status": p.getStatus()
        }
		participantsurvey.push(pars);
		requestData.participantsurvey = JSON.stringify(participantsurvey);
		
		sIds.push(p.getParticipantSurveyId());
	});
	
	participantAnswerDao.getBySurvey(sIds, function(items) {
		$.each(items, function(i, a){
			var pAnswer = {
				"ParticipantAnswerID": a.getParticipantAnswerId(),
				"ParticipantSurveyID": a.getParticipantSurveyId(),
				"AnswerID": a.getParticipantAnswerId(),
				"QuestionID": a.getQuestionId(),
				"Description" : a.getDescription(),
				"AddedDate": a.getStartDateTime(),
				//"EndDateTime": a.getEndDateTime()
				"AddedBy": "Mobile_Web",
			}
			participantanswer.push(pAnswer);
		});
		requestData.participantanswer = JSON.stringify(participantanswer);
		
		addRequestObject(requestData);
	});
	participantLogDao.findParticipantLogByParticipantSurveys(sIds, function(items){
		$.each(items, function(i, l){
			var pLog = {
				"ParticipantLogID": l.getParticipantLogId(),
				"ParticipantSurveyID": l.getParticipantSurveyId(),
				"StartDateTime": l.getStartDateTime(),
				"EndDateTime": l.getEndDateTime(),
			}
			participantlog.push(pLog);
		});
		requestData.participantlog = JSON.stringify(participantlog);
		addRequestObject(requestData);
	});
}
function addRequestObject(requestData) {
	if(requestData.participantsurvey != undefined && requestData.participantanswer != undefined && requestData.participantlog != undefined) {
		showLoadingDialog();
		request.uploadSurvey(requestData, function(syncLogObj){
			clearAllParticipantAnswer(syncLogObj);
		});
	}
}

function clearAllParticipantAnswer(syncLogObj) {
	$.each(syncLogObj, function(i, s){
		participantLogDao.remove(s.SurveyID);
		participantAnswerDao.remove(s.SurveyID);
		participantSurvey.remove(s.SurveyID);
	});
}

function continueSurvey(li){
	var liData = li.data("continueSurvey");
	$("#participant").data("participant",liData.participant);
	sectionDao.findSectionByPrimaryKey(liData.lastSectionId,function(section){
		questionDao.getBySection(liData.lastSectionId,function(questions){
			$("#participantLog").data("participantLog", liData.participantLog);
			$("body").data("startQuestionData",liData);
			$("body").data("questionaire", {
				"questions": questions, 
				fromPrevious: false,
				sectionId: liData.lastSectionId,
				displaySectionName: liData.participant.getLanguageId() == 1? section.getDescription1(): section.getDescription2()});
			$("#content").load("static/view/questionaire.html");
		});
	});
}

/**
 * @param stringTime
 * return time in format 00h:00mn
 */
function getTime(stringTime){
	var timeArray = stringTime.split(":");
	return timeArray[0] + "h:"+ timeArray[1] + "mn";
}
</script>